ul li {
  text-align: center;
  list-style: none;
  float: left;
  width: 250px;
  position: relative;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  padding: 0 20px;
  display: block;
  line-height: 30px;
  text-align: center;
}
ul li ul {
  display: none;
  position: absolute;
  background-color: #eee;
}
ul li:hover ul {
  display: block;
}
nav {
  height: 30px;
  background-color: #eee;
  position: sticky;
  top: 0;
}
* {
  margin: 0;
  padding: 0;
}
ul li a:hover {
  background-color: red;
  color: white;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: white;
  text-align: center;
}
body {
  background-color: powderblue;
}
#logo {
  float: left;
  width: 125px;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 15px;
}
p {
  text-align: justify;
  font-size: 18px;
}
figure {
  margin-top: 45px;
  margin-bottom: 45px;
}
figure img {
  height: 25%;
  width: 25%;
  margin: 5px auto;
  display: block;
}
figcaption {
  text-align: center;
}
main {
  padding: 10px 10px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pic {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pic img {
  width: 25%;
  height: 25%;
  display: inline-block;
  padding: 0px 100px;
}
button {
  width: 250px;
  height: 250px;
  margin: 20px 20px;
  text-align: center;
  font-size: 48px;
}
.forme {
  margin: 20px 0px;
}
form {
  margin: 0px auto;
  width: 300px;
}
textarea {
  width: 20%;
  padding: 5px 5px;
}
.field {
  width: 20%;
  margin: 0 auto;
  padding: 5px;
}
#kontakt {
  text-align: center;
  margin: 10px auto;
}
#email {
  margin: 5px auto;
}
#Prezime {
  margin: 5px auto;
}
.dugme {
  padding: 5px 5px;
  margin: 5px auto;
}
input[type="text"] {
  width: 282px;
}
input[type="email"] {
  width: 282px;
}
textarea {
  width: 288px;
}
